
body{
    background-image: url(https://d1lss44hh2trtw.cloudfront.net/assets/article/2016/12/15/super-mario-run-unlock-all-characters_1200x500.jpg);
    }

.heading
{
width: 100%;
text-align: left;
}
.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

.big_image
{
    width: 100%;
}
#start ,#status 
{
font-size: 22px;
}

.modal-dialog
{
    width: 90%;
}

.instruction_image
{
    display: inline-block;
    width: 45%;
}
video
{
    background: url('game_console.png');
    background-size:cover;
    background-position: center;
    padding: 25px;
}
h4
{
   background-color: #f5f5f5;
   line-height: 2;
   margin: 0px;
}


